.full { position: absolute; width: 1920px; }

.backing {z-index: -1;}
.games .game { position: absolute; width: 266px; font-size: 30px; }
.games .game1 { bottom: 95px; left: 1463px; }

.match { position: absolute; width: 118px; font-size: 35px; }
.matches .match1 { bottom: 92px; left: 1182px; }

.players .player { position: absolute; width: 200px; font-size: 45px; z-index: 1; }
.players .player1 { bottom: 84px; left: 547px; text-align: center; }
.players .player2 { bottom: 84px; left: 862px; text-align: center; }

.scores .score { position: absolute; width: 110px; font-size: 65px; }
.scores .score1 { bottom: 74px; left: 744px; }
.scores .score2 { bottom: 74px; left: 1058px; }

.clock { position: absolute; font-size: 65px; width: 175px; text-align: center; }
.tick { bottom: 74px; left: 1275px; }

.colorbox { position: absolute; z-index: 0; }
.colorbox1 { bottom: 68px; left: 553px; }
.colorbox2 { bottom: 68px; left: 867px; }

.transitions { position: absolute; z-index: 2; }
.transition1 { bottom: 72px; left: 546px; }
.transition2 { bottom: 72px; left: 861px; }
.transition3 { bottom: 72px; left: 743px; }
.transition4 { bottom: 72px; left: 743px; }
