<?xml version="1.0" encoding="utf-8"?>
<config>
	<settings>
		<ontop>False</ontop>
		<snapto>False</snapto>
		<prefix />
		<versus />
		<teams />
		<aorb />
	</settings>
	<tabs>
		<item type="trophy2i" name="lowerthirdsports" auto="true">
			<head>LowerThirdSports</head>
		</item>
		<item type="timer" name="clock" auto="true">
			<head>clock</head>
		</item>
	</tabs>
</config>
